{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-declaration-block-no-ignored-properties"],
  "rules": {
    "plugin/declaration-block-no-ignored-properties": true,
    "color-hex-case": null,
    "shorthand-property-no-redundant-values": null,
    "custom-property-empty-line-before": null,
    "comment-empty-line-before": null
  }
}
