#overwrap { /* Chrome 10+, Saf5.1+ */    /* FF3.6+ */    /* IE10 */    /* Opera 11.10+ */    /* W3C */;
 width: 100%;
 height: 100vh;
 background: #19191f; 
 background: -moz-linear-gradient(top, #21242c 0%, #19191f 25%, #19191f 75%, #21242c 100%); 
 background: -webkit-gradient(left top, left bottom, color-stop(0%, #21242c), color-stop(25%, #19191f), color-stop(75%, #19191f), color-stop(100%, #21242c)); 
 background: -webkit-linear-gradient(top, #21242c 0%, #19191f 25%, #19191f 75%, #21242c 100%); 
 background: -o-linear-gradient(top, #21242c 0%, #19191f 25%, #19191f 75%, #21242c 100%); 
 background: -ms-linear-gradient(top, #21242c 0%, #19191f 25%, #19191f 75%, #21242c 100%); 
 background: linear-gradient(to bottom, #21242c 0%, #19191f 25%, #19191f 75%, #21242c 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21242c', endColorstr='#21242c', GradientType=0 );
 text-align: center;
}

body {
    margin: 0;
}

#title {
    margin: 0 auto;
    padding-top: 4%;
    color: rgb(166, 172, 192);
    text-align: center;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    text-rendering: optimizeLegibility;
    padding-bottom: 2px;
    box-shadow: 0 2px 0 -1px rgb(166, 172, 192);
    width: 320px;
    align-self: center;
    display: block;
}

.c {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(166, 172, 192);
    font-size: 22px;
    text-rendering: optimizeLegibility;
    padding: 0 18px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 200;
}

#cont {
    padding-top: 3px;
}

#middlec {
    padding: 0 18px;
    box-shadow: 5px 1px 0 -4px rgb(166, 172, 192), -5px 1px 0 -4px rgb(166, 172, 192);
}
